* {
  box-sizing: border-box;
}

body {
  width: 800px;
  margin: auto;
  font-family: Helvetica, Arial, Sans-Serif;
}

button {
  background-color: #47C1BF;
  width: 100%;
  padding: 1rem;
  margin: 1rem auto;
  border: none;
}

.acc-question {
  text-align: left;
  color: white;
  font-size: 20px;
}

.acc-question:hover {
  background-color: #00848E !important;
}

div.acc-content {
  display: none;
  margin-left: 2px;
  width: 100%;
}

.accordion {
  margin: 30px auto 0;
}
